.container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-background);
}

.card {
    background-color: var(--color-background-form);
    padding: var(--paddin-4xl);
    border-radius: var(--border-radius-default);
    box-shadow: var(--box-shadow-card);
    max-width: 500px;
    width: 100%;
    text-align: center;
}

.logo {
    width: 220px;
    height: 50px;
    margin-bottom: var(--margin-lg);
}

.logoIcon path {
    animation: pathAnimation 2s ease-in-out infinite;
}

.logoText path {
    opacity: 0;
    transform: translateX(-20px);
    animation: slideInFromBehind 0.5s ease-out forwards;
}

/* Add animation delay for each text path */
.logoText path:nth-child(1) {
    animation-delay: 0.1s;
}

.logoText path:nth-child(2) {
    animation-delay: 0.2s;
}

.logoText path:nth-child(3) {
    animation-delay: 0.3s;
}

.logoText path:nth-child(4) {
    animation-delay: 0.4s;
}

.logoText path:nth-child(5) {
    animation-delay: 0.5s;
}

.logoText path:nth-child(6) {
    animation-delay: 0.6s;
}

.logoText path:nth-child(7) {
    animation-delay: 0.7s;
}

.logoText path:nth-child(8) {
    animation-delay: 0.8s;
}

.title {
    font-size: var(--font-size-xl);
    color: var(--color-text);
    margin-bottom: var(--margin-md);
    opacity: 0;
    animation: slideUp 0.5s ease-out forwards;
    animation-delay: 0.3s;
}

.message {
    margin-top: var(--margin-sm);
    color: var(--color-text);
    font-size: var(--font-size-sm);
    opacity: 0;
    animation: slideUp 0.5s ease-out forwards;
    animation-delay: 0.5s;
}

.success {
    color: var(--color-success);
}

.error {
    color: var(--color-error);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        transform: translateY(20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes pathAnimation {

    0%,
    100% {
        fill-opacity: 1;
    }

    50% {
        fill-opacity: 0.7;
    }
}

@keyframes slideInFromBehind {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}