.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    /* transition: opacity 0.3s ease-in-out; */
    z-index: 10000;
    pointer-events: none;

}

.modalOverlay.open {
    animation: showDeleteModal 0.3s ease-in-out;
    -webkit-animation: showDeleteModal 0.3s ease-in-out;
    pointer-events: auto;
}

@keyframes showDeleteModal {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

.modalContent {
    display: grid;
    background: var(--color-background-component);
    border-radius: var(--br-md);
    padding: var(--paddin-4xl);
    box-shadow: var(--box-shadow-card);
    /* min-width: 500px;
    max-width: 70%; */
    position: relative;
    -webkit-border-radius: var(--br-md);
    -moz-border-radius: var(--br-md);
    -ms-border-radius: var(--br-md);
    -o-border-radius: var(--br-md);
    gap: var(--gap-5xl);
    text-align: center;
}


.header {
    font-size: var(--font-size-6xl);
    font-weight: var(--font-weight-bold);
    color: var(--color-dark-v1);
}



.closeButton {
    position: absolute;
    top: var(--paddin-sm);
    right: var(--paddin-md);
    background: none;
    border: none;
    font-size: var(--font-size-4xl);
    cursor: pointer;
}

.textContainer {
    display: grid;
    gap: var(--gap-lg);
}

.descText {
    color: var(--color-lightslategray-100);
    font-size: var(--font-size-sm);

}

.buttonsContainer {
    display: flex;
    justify-content: flex-end;
    gap: var(--gap-lg);
}

div.buttonsContainer>div>button {
    border-radius: var(--br-sm);
    -webkit-border-radius: var(--br-sm);
    -moz-border-radius: var(--br-sm);
    -ms-border-radius: var(--br-sm);
    -o-border-radius: var(--br-sm);
    /* font-size: var(--font-size-md); */
    padding: var(--paddin-sm) var(--paddin-3xl);
}