.appointmentsMainContainer {
    display: grid;
    gap: var(--gap-2xl);
    padding: 20px;
}

.controlsHeaderContainer,
.controlsContainer {
    display: flex;
    align-items: end;
    flex-wrap: wrap;
}



.controlsHeaderContainer {
    justify-content: space-between;

}

.controlsContainer {
    gap: var(--gap-lg);
}

.loadingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    font-size: var(--font-size-lg);
    color: var(--color-primary);
}