form.ForgetPasswordForm,
.informAndResend {
    display: grid;
    width: fit-content;
    gap: var(--gap-lg);
    text-align: center;
    border-radius: var(--border-radius-default);
    -webkit-border-radius: var(--border-radius-default);
    -moz-border-radius: var(--border-radius-default);
    -ms-border-radius: var(--border-radius-default);
    -o-border-radius: var(--border-radius-default);
    color: var(--color-text);

}

.forgetTextH {
    font-size: var(--font-size-h1);
    font-weight: var(--font-weight-bold);

}

.forgetFields * {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.forgetFields {
    display: grid;
    gap: var(--gap-xs);
}

.forgetFields input {
    padding-left: 0;
}

.forgetFields input+label {
    left: 0;
}

.forgetFields input+label+div {
    right: 2px;
}



.forgetTextP {
    justify-self: center;
    color: var(--color-lightslategray-200);
    font-size: var(--font-size-sm);
}



.buttonWrpr button {
    border-radius: var(--br-mdlg);
    -webkit-border-radius: var(--br-mdlg);
    -moz-border-radius: var(--br-mdlg);
    -ms-border-radius: var(--br-mdlg);
    -o-border-radius: var(--br-mdlg);
    font-size: var(--font-size-sm);
    padding: var(--paddin-md) 0;
}

.resendOption {
    display: flex;
    justify-content: center;
    font-size: var(--font-size-sm);
    gap: 2px;
}

.resendOption span.link button {
    color: var(--color-primary);
    font-weight: var(--font-weight-bold)
}